# Final script for inverse problem: taking in observed lightcurve and extracting parameters using PHOEBE

In [1]:
# Necessary Imports
import matplotlib.pyplot as plt

plt.rc('font', family='serif', size=14, serif='STIXGeneral')
plt.rc('mathtext', fontset='stix')

import phoebe
import numpy as np
import pandas as pd

logger = phoebe.logger('error')

PHOEBE: passband "Bolometric:900-40000" has a newer version available.  Run phoebe.list_passband_online_history("Bolometric:900-40000") to get a list of available changes and phoebe.update_passband("Bolometric:900-40000") or phoebe.update_all_passbands() to update.
PHOEBE: passband "Johnson:V" has a newer version available.  Run phoebe.list_passband_online_history("Johnson:V") to get a list of available changes and phoebe.update_passband("Johnson:V") or phoebe.update_all_passbands() to update.

### Step 1) Read in CSV that has already had photometry/ differential mag and flux done

In [6]:
#Read in .csv with only target data
df = pd.read_csv("target_phot_2023_11_19-22.csv")

In [7]:
_NN_apertures=6

In [8]:
for ap_num in range(_NN_apertures):
    mag_title = 'objflux_' + str(ap_num)  
    refmag_title = 'refflux_' + str(ap_num)  
    dmag_title = 'dflux_' + str(ap_num)  

    df[refmag_title]=df[df['id']==2][mag_title]
    df[refmag_title].fillna(method='ffill', inplace=True)
    df[refmag_title].fillna(method='bfill', inplace=True)

    df[dmag_title]=df[mag_title]-df[refmag_title]

df

/tmp/ipykernel_2923/714885824.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[refmag_title].fillna(method='ffill', inplace=True)
/tmp/ipykernel_2923/714885824.py:8: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[refmag_title].fillna(method='bfill', inplace=True)
/tmp/ipykernel_2923/714885824.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[refmag_title].fillna(method='ffill', inplace=True)
/tmp/ipykernel_2923/714885824.py:8: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[refmag_title].fillna(method='bfill', inplace=True)
/tmp/ipykernel_2923/714885824.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[refmag_title].fillna(method='ffill', inplace=True)
/tmp/ipykernel_2923/714885824.py:8: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[refmag_title].fillna(method='bfill', inplace=True)
/tmp/ipykernel_2923/714885824.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[refmag_title].fillna(method='ffill', inplace=True)
/tmp/ipykernel_2923/714885824.py:8: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[refmag_title].fillna(method='bfill', inplace=True)
/tmp/ipykernel_2923/714885824.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[refmag_title].fillna(method='ffill', inplace=True)
/tmp/ipykernel_2923/714885824.py:8: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[refmag_title].fillna(method='bfill', inplace=True)
/tmp/ipykernel_2923/714885824.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[refmag_title].fillna(method='ffill', inplace=True)
/tmp/ipykernel_2923/714885824.py:8: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[refmag_title].fillna(method='bfill', inplace=True)

,Unnamed: 0,id,xcenter,ycenter,aperture_sum_0,aperture_sum_err_0,aperture_sum_1,aperture_sum_err_1,aperture_sum_2,aperture_sum_err_2,...,refflux_1,dflux_1,refflux_2,dflux_2,refflux_3,dflux_3,refflux_4,dflux_4,refflux_5,dflux_5
0,2,3,1091.251741,840.423921,40125.894448,230.184277,104779.875107,377.206280,147268.769398,457.747597,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,3,1091.251741,840.423921,40125.894448,230.184277,104779.875107,377.206280,147268.769398,457.747597,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,3,1091.251741,840.423921,42261.273420,235.911055,107784.222401,382.151817,149482.587077,460.760387,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,3,1091.251741,840.423921,37564.941304,223.122409,101068.995462,371.006708,144294.653538,453.668621,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2,3,1091.251741,840.423921,37591.044637,223.195517,101309.925759,371.412359,145010.975541,454.654395,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3874,2,3,1091.251741,840.423921,168525.157695,462.043162,429381.403588,740.294868,624808.483035,898.029793,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3875,2,3,1091.251741,840.423921,174203.536413,469.661423,431339.032612,741.945771,624020.852903,897.481459,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3876,2,3,1091.251741,840.423921,171275.356200,465.748464,430714.048213,741.419111,625904.214712,898.792064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3877,2,3,1091.251741,840.423921,180758.090354,478.304347,442519.321578,751.304790,628883.526726,900.861426,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3878,2,3,1091.251741,840.423921,206050.026977,510.284201,493570.290731,792.636484,659205.731990,921.658323,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#Shift all flux up so we have no negative flux values
min_flux = abs(df["dflux_5"].min())
df["dflux"] = df["dflux_5"] + min_flux

In [ ]:
#Output new data to .csv
df.to_csv("target_phot_forPhoebe.csv")

### Step 2) Run Ebai estimator

In [ ]:
# start of inverse problem: add and run KNN estimator
b.add_solver('estimator.ebai', ebai_method='knn', solver='ebai_knn', overwrite=True)
b.run_solver('ebai_knn', solution='ebai_knn_sol', phase_bin=False)
print(b.adopt_solution('ebai_knn_sol', trial_run=True))   # see proposed KNN solution params before adopting